/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
}

.row {
    width: 100%;
}

.center-wrapper {
    text-align: center;
}

.new-board-wrapper {
    padding: 50px;
}

.new-board-button {
    display: inline-block;
    text-align: center;
}

.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}